body{
  background:#222;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

#game{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

#board{
  display:grid;
  grid-template-columns:repeat(8,64px);
  grid-template-rows:repeat(8,64px);
  border:4px solid #5a3825;
}

.square{
  width:64px;
  height:64px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:42px;
  cursor:pointer;
}

.light{ background:#d2b48c; }
.dark{ background:#8b5a2b; }

.square.move::after{
  content:"";
  width:14px;
  height:14px;
  background:#00ff66;
  border-radius:50%;
}

.square.last{
  box-shadow: inset 0 0 0 4px yellow;
}

.piece.white{ color:#fff; }
.piece.black{ color:#000; }

.piece.selected{
  filter:drop-shadow(0 0 10px #00ff99);
}

#side{
  width:200px;
}

#pool{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:center;
  margin-top:10px;
}

#pool span{
  width:64px;
  height:64px;
  background:#333;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

#pool span small{
  font-size:11px;
  opacity:.7;
}

#pool span.disabled{
  opacity:.3;
  pointer-events:none;
}

#pool span.active{
  filter:drop-shadow(0 0 10px #00ff99);
  transform:scale(1.1);
}
